.sidebar-docs {
  .group {
    .title {
      font-weight: 800;
      text-transform: uppercase;
      color: $color-main;
      font-size: 12px;
      padding: $base-number*2;
      line-height: 100%;
      border-bottom: $base-border;
    }
    .items {
      color: $base-color-50;
      li {
        border-bottom: $base-border;
        a {
          display: block;
          padding: $base-number*1.5 $base-number*2;
          color: inherit;
          &:hover {
            background-color: $base-color-2;
          }
        }
        &.active {
          border-left: solid 2px $color-main;
          a {
            padding-left: 12px;
            background-color: $base-color-2;
          }
        }
      }
    }
  }
}