{% extends 'templates.default' %}

{% block css %}

{% endblock %}

{% block content %}
    <div class="page-default">
        <div class="container">
            <div class="col-sm-12">
                <div class="pane pane-basic pane-information">
                    <div class="pane-header">
                        <h4 class="supertitle">
                            Capital Humano
                        </h4>
                        <h1 class="title">
                            Aviso de privacidad
                        </h1>
                    </div>
                    <div class="pane-body">

                        <div class="content">
                            <p>
                                La información proporcionada por el usuario del Sistema Padrón de Proveedores de la
                                Ciudad de México, será usada exclusivamente para fines de registro y/o actualización en
                                el Padrón de Proveedores de la Administración Pública de la Ciudad, por lo que se
                                encuentra protegida por la Ley de Protección de Datos Personales para el Distrito
                                Federal y la Ley de Transparencia, Acceso a la Información Pública y Rendición de
                                Cuentas de la Ciudad de México, por lo que de acuerdo al artículo 266 en relación con el
                                264, fracción IV, ambos del segundo ordenamiento, su uso, divulgación y/o alteración en
                                contravención de la misma, podrá ser motivo constitutivo de responsabilidad
                                administrativa y sancionarse en términos de la Ley Federal de Responsabilidades de los
                                Servidores Públicos, independientemente de los procedimientos de orden civil o penal a
                                que hubiere lugar.
                            </p>
                            <p>
                                En el uso de las tecnologías de la información y comunicaciones del Gobierno de la
                                Cuidad de México, encuentra su fundamento en lo previsto en la Ley de Gobierno
                                Electrónico del Distrito Federal; la Ley para hacer de la Ciudad de México una Ciudad
                                Más Abierta; el Apartado 10 de la Circular Uno 2015, Normatividad en Materia de
                                Administración de Recursos para las Dependencias, Unidades Administrativas, Unidades
                                Administrativas de Apoyo Técnico Operativo, Órganos Desconcentrados y Entidades de la
                                Administración Pública del Distrito Federal; el Apartad 9 de la Circular Uno Bis 2015,
                                Normatividad en Materia de Administración de Recursos para las Delegaciones de la
                                Administración Pública del Distrito Federal, así como de las Normas Generales que
                                deberán observarse en materia de Seguridad de la Información en la Administración
                                Pública del Distrito Federal.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}
