{% extends 'templates.default' %}

{% block css %}

{% endblock %}

{% block content %}
    <div class="page-default">
        <div class="container">

            <div class="col-sm-4 col-md-3">
                <div class="sidebar-docs">
                    <div class="sidebar-box">
                        <ul class="groups no-list">
                            <li class="pane group">
                                <div class="title">Acerca de</div>
                                <ul class="items no-list">
                                    <li><a href="/acerca-de/uso-del-sistema">Uso del sistema</a></li>
                                    <li><a href="/acerca-de/quejas-y-sugerencias">Quejas y sugerencias</a></li>
                                    <li><a href="/acerca-de/preguntas-frecuentes">Preguntas frecuentes</a></li>
                                </ul>
                            </li>
                            <li class="pane group">
                                <div class="title">Sitios relacionados</div>
                                <ul class="items no-list">
                                  <!--  <li><a target="_blank" href="http://reporte.dgadp.cdmx.gob.mx/unilab/">Universidad Laboral CDMX</a></li>
                                    <li><a target="_blank" href="http://reporte.dgadp.cdmx.gob.mx/caci/">Centro de Atención y Cuidado Infantil</a></li>-->
                                    <li><a href="http://www.finanzas.cdmx.gob.mx/" target="_blank">Secretaría de Administración y Finanzas</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-8 col-md-9">
                <div class="pane pane-basic pane-information">
                    <div class="pane-header">
                        <h4 class="supertitle">
                            Acerca de
                        </h4>
                        <h1 class="title">
                            Uso del sistema
                        </h1>
                    </div>
                    <div class="pane-body">

                        <div class="content">
                            <p>
                                Conoce los conceptos básicos y explora los servicios a los que puedes acceder mediante esta Plataforma. No importa si eres nuevo o un profesional experimentado,te ayudaremos a aprovechar al máximo Capital Humano CDMX.
                            </p>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}
