{% extends 'templates.default' %}

{% block css %}

{% endblock %}

{% block content %}
    <div class="page-default">
        <div class="container">
            <div class="col-sm-12">
                <div class="pane pane-basic pane-information">
                    <div class="pane-header">
                        <h4 class="supertitle">
                            Capital Humano
                        </h4>
                        <h1 class="title">
                            Declaración de veracidad
                        </h1>
                    </div>
                    <div class="pane-body">

                        <div class="content">
                            <p>
                                Manifiesto bajo protesta de decir verdad que los datos proporcionados en para el
                                Registro en el Padrón de Proveedores de la Administración Pública de la Ciudad de México
                                son ciertos, en el entendido que de cualquier información o declaración incompleta,
                                errónea o falsa será motivo para no obtener el registro.
                            </p>
                            <p>
                                Así mismo, autorizo a la Oficialía Mayor de la Ciudad de México para verificar la
                                veracidad de la información y/o documentación proporcionada por este medio, con apego a
                                las leyes y normatividad aplicable.
                            </p>
                            <p>
                                Así mismo acepto los términos y condiciones de la política de privacidad y manejo de
                                datos personales establecidos para el procedimiento de inscripción y/o actualización del
                                Registro en el Padrón de Proveedores de la Administración Pública de la Ciudad de
                                México, conforme a la Ley de Transparencia, Acceso a la Información Pública y Rendición
                                de Cuentas de la Ciudad de México y la Ley de Protección de datos Personales para el
                                Distrito Federal, vigentes y aplicables.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}
